@charset "UTF-8";

*{
    box-sizing: border-box;
}

#chat{
    width: 100%;
    margin: 20px auto;
}

#chat #talk{
    width: 100%;
    height: 400px;
    overflow: scroll;
    border : 1px solid #aaa;
}
#chat #msg{
    width: 80%;
    height:50px;
    display: inline-block;
}

/*#chat #sendZone > *{*/
/*    border:1px solid red;*/
/*    !*vertical-align: top;*!*/

/*}*/
#sendZone{
    display: flex;
}
#chat #btnSend{
    width: 20%;
    height: 50px;
}

#chat #talk div{
    width: 70%;
    display: inline-block;
    padding: 6px;
    border-radius:10px;

}

#chat .me{
    background-color : #ffc;
    margin : 1px 0px 2px 30%;
}

#chat .other{
    background-color : #eee;
    margin : 2px;
}