* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: 'Gowun Dodum', sans-serif;
}

.header {
  height: 54px;
  background: #ffffff;
  width: 100%;
  border-bottom:1px solid #c9c9c9;
}

.header .con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.project-name{
  margin-left:20px;
  color:black;
  font-size:20px;
}

.navi > .navi-list {
  display: flex;
}

.navi > .navi-list .navi-item {

  text-align: center;
  margin: 0 15px;
  display: flex;
}

.navi > .navi-list .navi-item a {
  font-size: 14px;
  color: #000000;
  margin-top: 6px;
}

.sub-list{
  display:flex;
}
.sub-welcome{
  font-size:16px;
  color: #184879;
}
.sub-list li{
  margin-right:20px;
}
.sub-list li a{
  font-size:14px;
}
.logout-btn{
  border:none;
  background-color: white;
}




@media screen and (max-width: 935px) {
  .header .con {
    width: 100%;
  }
}
